<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <header>
        <img src="/images/DMV4.png" alt="DMV Logo" width="760" height="148">
    </header>
    <body>
        <h1>Login</h1>
        <form action="/auth/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br/>
            <button type="submit">Login</button>
            </form>
            <a href="/auth/signup">Sign Up</a>
    </body>
</html>