<!DOCTYPE html>

<head><link rel="stylesheet" href="/style.css" /></head>

<body>
<form action="/search" method="POST">
    <div>
        <label for="vin_number">VIN Number:</label>
        <input type="text" id="vin_number" name="vin_number">
    </div>
    <div>
        <label for="licence_number">Licence Number:</label>
        <input type="text" id="licence_number" name="licence_number">
    </div>
    <div>
        <label for="registration_id">Registration ID:</label>
        <input type="text" id="registration_id" name="registration_id">
    </div>
    <div>
        <label for="source">Search in:</label>
        <select id="source" name="source">
            <option value="postgres">Postgres</option>
            <option value="mongo">Mongo</option>
            <option value="both">Both</option>
        </select>
    </div>
    <button type="submit">Search</button>
</form>
<a href="/">Back to Main</a>
</body>

