<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style.css">
</head>
<header>
    <img src="/images/DMV1.png" alt="DMV Logo" width="760" height="148">
</header>
<body>
    <h1>Sign Up</h1>
    <form action="/auth/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br/>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/auth/login">Login here</a></p>
</body>
</html>
